<h1>Buscando Taller</h1>
<br />
<%= select_tag "Provincia", options_from_collection_for_select(@states, "id", "name") %>

<br /><br /><br />
<div id="workshopsList">
  <%= render :partial => 'list_workshops' %>
</div>
