<h1>Buscando Taller</h1>

<%= select_tag "Provincia", options_from_collection_for_select(@states, "id", "name") %>

<br />
<div id="workshopsList">
  <%= render :partial => 'list_workshops' %>
</div>
